{% extends 'layout.html' %}

{% block empblock %}
 <div class="row mx-auto">
     <div class="col-sm-6">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, veritatis dolores? Vero laboriosam beatae porro mollitia, harum consequatur, asperiores inventore eveniet eum facilis possimus sint nam et. Quae, alias consectetur.
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quam possimus illum iure quaerat nisi, laudantium quia corporis suscipit et nulla minus cumque eaque, itaque sit asperiores quibusdam! Sequi, laudantium.
     </div>
 </div>
{% endblock %}